@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML 및 Body 기본 스타일 */
html {
  @apply bg-white;
}

* {
  @apply font-sans;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  @apply w-[480px] min-h-screen;
  @apply mx-auto bg-white;
  @apply antialiased;
}

/* 반응형 디자인 */
@media screen and (max-width: 480px) {
  body,
  html {
    @apply max-w-full !important;
    @apply border-none;
  }
}

/* 글로벌 요소 스타일 초기화 */
*,
*::before,
*::after {
  @apply m-0 p-0 border-0;
  @apply text-base align-baseline;
}

/* 구조적 요소 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  @apply block;
}

/* 리스트 스타일 */
ol,
ul {
  @apply list-none;
}

/* 테이블 스타일 */
table {
  @apply border-collapse border-spacing-0;
}

/* 버튼 스타일 */
button {
  @apply cursor-pointer border-none text-black;
}

/* 입력 및 텍스트 영역 스타일 */
input,
textarea {
  @apply outline-none;
}

.content-page {
  @apply pb-20;
}

/* ant-message 스타일링 */

.ant-message {
  top: 660px !important;
}

.ant-message-notice-success .ant-message-notice-content {
  background-color: #27be69 !important;
}

.ant-message-notice-error .ant-message-notice-content {
  background-color: #df0020 !important;
}

.ant-message-notice-content {
  border-radius: 50px !important;
  padding: 10px 20px !important;
}

.anticon {
  display: none;
}

.ant-message-notice-content span {
  color: white !important;
}

/* ant Carousel 스타일링 */
.slick-dots li {
  background-color: #d9d9d9;
  height: 20px !important;
  width: 20px !important ;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background-color: #ff6d3c;
}

.slick-dots button {
  background-color: transparent !important;
}
